.login-container {
  width: 100vw;
  min-height: 100vh;
  display: grid;
  grid-template-columns: 43% 57%;
  grid-template-rows: minmax(50vmin, auto);
}
.login-graphic {
  background-color: rgb(225, 236, 247);
  padding: 5% 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80%;
  row-gap: 5%;
  /* align-items: center; */
}
.login-form {
  background-color: rgb(255, 255, 255);
  padding: 10%;
  display: grid;
  grid-template-columns: 1fr;
  grid-template-rows: 10% 80% 10%;
}
.login-graphic-image-div {
  display: flex;
  align-items: center;
  justify-content: center;
}
.login-graphic-image {
  width: 80%;
  /* height: 100%; */
  object-fit: cover;
}
.login-graphic-header {
  height: 50px;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: space-between;
}
.back-btn {
  background: rgb(8, 123, 255);
  width: 35px;
  height: 35px;
  border-radius: 0.7rem;
  display: flex;
  justify-content: center;
  align-items: center;
}
.ec-logo-div {
  width: 120px;
  height: 35px;
  display: flex;
  flex-direction: row;
}
.ec-logo {
  width: 40px;
  height: 40px;
  object-fit: cover;
}
.ec-logo-text {
  color: rgb(8, 123, 255);
  font-size: 80%;
  font-weight: 700;
  margin: 0 0 0 5px;
  padding: 0;
  height: 35px;
  line-height: normal;
}
.back-btn-opposite {
  width: 40px;
  height: 40px;
}
.login-form-header {
  display: flex;
  justify-content: end;
}
.login-form-body {
  display: flex;
  align-items: center;
}
.login-form-body-content {
  width: 100%;
}
@media screen and (max-width: 700px) {
  .login-container {
    display: grid;
    grid-template-columns: 1fr;
    grid-template-rows: auto minmax(50vh, auto);
  }
  .login-graphic {
    display: flex;
    flex-direction: column;
    padding: 5% 10% 0 10%;
  }
  .login-form {
    display: flex;
    flex-direction: column;
  }
  .login-form-body {
    margin-top: 20px;
  }
  .login-graphic-image {
    width: 70%;
  }
}
